:root {
    --dirt: #9c835f;
    --chocolate: #724c21;
    --shadow: #c4c4c4;
    --orange: #f9b23d;
    --black: #000000;
    --white: #ffffff;
    --lime: #4c9654;
    --moss: #035b0c;
    --crimson: #bd0000;
}

html body {
    background-color: var(--dirt);
}

h1 {
    font-family: "Open Sans";
    font-size: 36px !important;
    font-weight: 700 !important;
}

h2 {
    font-family: "Open Sans";
    font-size: 36px !important;
    font-weight: 700 !important;
}

p {
    font-family: "Open Sans";
    font-size: 24px !important;
    font-weight: 700 !important;
}

#back-button {
    width: 55px;
    height: 87px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--chocolate);
    margin-right: 32px;
}

#navbar {
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 32px;
    width: 72px;
    height: 72px;
}

#title {
    color: var(--orange);
}

.player-text {
    color: var(--black);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.suit-button-wrapper {
    padding: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    min-height: 128px;
    max-width: 152px;
    border-radius: 30px;
    position: relative;
    background-color: transparent;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
}

.suit-button-wrapper.active {
    background-color: var(--shadow);
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
}

.suit-image {
    width: 96px;
    margin: auto;
    display: block;
    transition: transform 0.4s;
}

.suit-image:hover[id^="player"] {
    cursor: pointer;
    transform: scale(1.2);
}

.suit-image[id^="computer"] {
    cursor: not-allowed;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.result {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 136px;
    width: 220px;
    height: 136px;
    font-size: 72px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700px !important;
    font-size: 144px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--crimson);
    margin: auto;
}

.result:not(.vs) {
    color: var(--white);
    border-radius: 10px;
    transform: rotate(-30deg);
    font-size: 24px !important;
}

.draw {
    background-color: var(--moss);
}

.not-draw {
    background-color: var(--lime);
}

#refresh {
    position: absolute;
    left: 47%;
    top: 80%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    outline: 0;
}

#refresh.active {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
