:root {
    --dirt: #9c835f;
    --chocolate: #724c21;
    --shadow: #c4c4c4;
    --orange: #f9b23d;
    --black: #000000;
    --white: #ffffff;
    --lime: #4c9654;
    --moss: #035b0c;
    --crimson: #bd0000;
}

html body {
    background-color: var(--dirt);
}
