<!doctypehtml>
   <html lang="en">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="icon" type="image/png" href="http://binar-chapter-4.s3-website-ap-southeast-1.amazonaws.com/img/logo.png">
   <title>Chapter 4 Challenge | <%= name %></title>
   <h1><%= name %></h1>
   <div id="app"></div>
   <noscript>Javascript gaada euy</noscript>
   