body {
    background-color: black;
}

html {
    /* font-size: 40px; */
}

.header {
    color: wheat;
    font-size: 36px;
}

#header-text-1em {
    font-size: 1rem;
}

#header-text-05em {
    font-size: 0.5rem;
}

.flexbox-blue-green {
    display: flex;
    justify-content: center;
}

.flexbox-green {
    display: flex;
    justify-content: center;
}

#component-1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-bottom: 10px;
    margin-left: 90px;
}

#component-2 {
    width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 100px;
}

#component-3 {
    width: 100px;
    height: 100px;
    background-color: green;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 90px;
    margin-left: 10px;
}

#component-4 {
    width: 100px;
    height: 200px;
    background-color: green;
    border-radius: 100px;
}


/* 0 - 600px */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    #component-4 {
        background-color: lightgreen;
    }
}